points:
  key:
    padding: cy
  zones:
    main:
      anchor:
        rotate: 5

      columns:
        outer:
          key:
            spread: cx
            column_net: P0
        pinky:
          key:
            spread: cx
            column_net: P1
        ring:
          key:
            stagger: 12
            spread: cx
            bind: [6, 0, 12, 0]
            column_net: P2
        middle:
          key:
            stagger: 6
            spread: cx
            bind: [0, 0, 18, 0]
            column_net: P3
        index:
          key:
            stagger: -6
            spread: cx
            bind: [6, 0, 12, 0]
            column_net: P4
        inner:
          key:
            stagger: -2
            spread: cx
            bind: [8, 0, 0, 0]
            column_net: P5
      rows:
        bottom:
          row_net: P9
        home:
          row_net: P8
        top:
          row_net: P7
        num:
          row_net: P6
    thumbfan:
      anchor:
        ref: main_inner_bottom
        shift: [-10, -19]
      columns:
        near:
          key:
            bind: [2, 3, 0, 0]
            column_net: P3
        home:
          key:
            spread: 21
            splay: -18
            origin: [-12, -9]
            bind: [2.5, 2, 0, 4]
            column_net: P4
        far:
          key:
            spread: 21
            splay: -10
            origin: [-10, -9]
            bind: [2.1, 0, 0, 4]
            column_net: P5
      rows:
        thumb:
          row_net: P10
outlines:
  main:
    - where: true
      bound: true
      what: rectangle
      size: [cx + 2, cy + 2]
      fillet: 2
  leftkeys:
    - where: true
      what: rectangle
      size: [14, 14]
  leftcutout:
    - name: main
    - operation: subtract
      name: leftkeys

pcbs:
  main_pcb:
    outlines:
      main:
        outline: main
    footprints:
      keyswitches:
        where: true
        what: choc
        params:
          hotswap: true
          from: "{{col_net}}"
          to: "{{colrow}}"
      xiao_flippable:
        what: xiao_flippable
        params:
        where:
          ref: main_inner_num
          shift: [-2, -2]
          rotate: 90
      diode:
        what: diode
        where: true
        params:
          from: "{{colrow}}"
          to: "{{row_net}}"
        adjust:
          shift: [7.8, -3.5]
          rotate: 90
        led:
          what: sk6812mini
          where: true
          adjust:
            shift: [0, -5]
          params:
            din: "{{led_in}}"
            dout: "{{led_out}}"
            cutout: true
      # Reset switch (horizontal community version)
      horizontal_reset:
        what: EVQPUC
        params: 
          side: B
          from: GND
          to: RST 
        where:
          ref: matrix_sixth_top
          shift: [9.0, 2.8]
          rotate: -90.0
      # Battery jack
      jstph:
        what: jstph
        where:
          ref: matrix_fourth_home
          shift: [-7, 5.5]
          rotate: 90
        params:
            side: B
            pos: pos
            neg: GND
      front_text: &text
        what: text
        where: &textWhere
            ref: main_fourth_num
            shift: [-8.7, 5.5]
        params: &textParams
            text: hormesis by krl berg
            justify: left
            h_size: 3.0
            v_size: 3.0
            thickness: 0.4
          
cases:
  plate: 
    - name: leftcutout
      extrude: 1.2