meta:
  engine: 4.1.0

points:
  key.padding: cy
  zones:
    main:
      rows:
        bottom.row_net: '2'
        home.row_net: '0'
        top.row_net: '1'
        upper.row_net: '4'
      columns:
        far:
          key:
            col_net: 'SWDIO'
            stagger: 0
            spread: cx
          rows:
            bottom:
              led_in: "rgb_{{name}}"
            home:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_far_bottom
            top:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_far_home
            upper:
              skip: true
        pinky:
          key:
            col_net: '9'
            spread: cx
          rows:
            bottom:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_pinky_home
            home:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_pinky_top
            top:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_pinky_upper
            upper:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_far_top
        ring:
          key:
            col_net: '8'
            stagger: 4
            spread: cx
          rows:
            bottom:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_pinky_bottom
            home:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_ring_bottom
            top:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_ring_home
            upper:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_ring_top
        middle:
          key:
            col_net: '7'
            stagger: 2
            spread: cx
          rows:
            bottom:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_middle_home
            home:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_middle_top
            top:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_middle_upper
            upper:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_ring_upper
        index:
          key:
            col_net: '6'
            stagger: -2
            spread: cx
          rows:
            bottom:
              led_in: "rgb_{{name}}"
              led_out: rgb_thumb_home_home
            home:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_index_bottom
            top:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_index_home
            upper:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_index_top
        inner:
          key:
            col_net: '5'
            stagger: -2
            spread: cx
          rows:
            bottom:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_inner_home
            home:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_inner_top
            top:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_inner_upper
            upper:
              led_in: "rgb_{{name}}"
              led_out: rgb_main_index_upper
    thumb:
      anchor:
        ref: main_index_bottom
        shift: [-0.5cx, -cy]
      rows.home.row_net: '3'
      columns:
        inner.key:
          col_net: '7'
          led_in: "rgb_{{name}}"
          led_out: rgb_main_middle_bottom
          spread: cx
        home.key:
          col_net: '6'
          led_in: "rgb_{{name}}"
          led_out: rgb_thumb_inner_home
          spread: cx + 2
          rotate: -18
          stagger: -3.2
        outer.key:
          col_net: '5'
          led_in: '10'
          led_out: rgb_main_inner_bottom
          spread: cx
          rotate: -36
          stagger: -9.2
outlines:
  _board_outline:
    -
      what: polygon
      fillet: 2
      points:
        -
          ref: thumb_outer_home
          shift: [0.6cx, 0.6cy]
        -
          ref: thumb_outer_home
          shift: [0.6cx, -0.6cy]
        -
          ref: thumb_outer_home
          shift: [-0.4cx, -0.6cy]
        -
          ref: thumb_home_home
          shift: [0.4cx, -0.6cy]
        -
          ref: thumb_home_home
          shift: [-0.4cx, -0.6cy]
        -
          ref: thumb_inner_home
          shift: [0.4cx, -0.6cy]
        -
          ref: thumb_inner_home
          shift: [-0.6cx, -0.6cy]
        -
          ref: main_far_bottom
          shift: [1.6cx, -0.6cy]
        -
          ref: main_far_bottom
          shift: [0.6cx, -0.6cy]
        -
          ref: main_far_bottom
          shift: [-0.6cx, -0.6cy]
        -
          ref: main_far_top
          shift: [-0.6cx, 0.6cy]
        -
          ref: main_far_top
          shift: [0.4cx, 0.6cy]
        -
          ref: main_pinky_upper
          shift: [-0.5cx, 0.6cy]
        -
          ref: main_pinky_upper
          shift: [0.4cx, 0.6cy]
        -
          ref: main_ring_upper
          shift: [-0.5cx, 0.6cy]
        -
          ref: main_ring_upper
          shift: [0.4cx, 0.6cy]
        -
          ref: main_middle_upper
          shift: [-0.4cx, 0.61cy]
        -
          ref: main_middle_upper
          shift: [0.4cx, 0.6cy]
        -
          ref: main_index_upper
          shift: [-0.4cx, 0.6cy]
        -
          ref: main_index_upper
          shift: [0.5cx, 0.6cy]
        -
          ref: main_inner_upper
          shift: [-0.4cx, 0.6cy]
        -
          ref: main_inner_upper
          shift: [0.5cx, 0.6cy]
        -
          ref: main_inner_upper
          shift: [0.6cx, 0.4cy]
        -
          ref: main_inner_upper
          shift: [1.8cx, 0.4cy]
        -
          ref: main_inner_bottom
          shift: [1.8cx, -0.6cy]
  _keycap_outlines:
    -
      what: rectangle
      fillet: 2
      where: true
      size: [1cx - 0.5, 1cy - 0.5] # Choc keycaps are 17.5 x 16.5
  preview:
    -
      what: outline
      name: _board_outline
      operation: stack
    -
      what: outline
      name: _keycap_outlines
      operation: stack
cases.josukey:
  -
    what: outline
    name: _board_outline
    extrude: 3
    operation: subtract
  -
    what: outline
    name: _keycap_outlines
    extrude: 6
    operation: add
pcbs.josukey:
  template: kicad8
  outlines:
    main.outline: _board_outline
    keycaps:
      outline: _keycap_outlines
      layer: Eco1.User
  footprints:
    led:
      what: rgb
      where: true
      adjust:
        shift: [0, -5]
      params:
        from: "{{led_in}}"
        to: "{{led_out}}"
    diode:
      what: sod-123w 
      where: true
      params:
        from: "{{name}}"
        to: "{{row_net}}"
      adjust:
        shift: [ -7.6, -1.6 ]
        rotate: 90
    choc:
      what: choc
      where: true
      params:
        keycaps: true
        reverse: true
        hotswap: true
        from: "{{col_net}}"
        to: "{{name}}"
    xiao_ble:
      what: xiao-ble
      where:
        ref: main_inner_home
      adjust:
        shift: [22, 6.5]
        rotate: -90
        side: B
    jst-s2b-ph-kl:
      what: jst-s2b-ph-kl
      where:
        ref: main_inner_bottom
        shift: [21, -2]
        rotate: 180
      params:
        neg: GND
    pcm12:
      what: pcm12
      where:
        ref: main_inner_bottom
        shift: [30.5, 3]
        rotate: 90
      params:
        from: pos
        to: RAW
    wuerth-434121025816:
      what: wuerth-434121025816
      where:
        ref: main_inner_bottom
        shift: [30, -6]
        rotate: 90
      params:
        r1: RST
        r2: GND
    front_text: &text
      what: text
      where: &textWhere
        ref: main_pinky_bottom
        shift: [12, -7]
      params: &textParams
        text: by karl ryberg
        justify: left
    back_text:
      <<: *text
      where:
        <<: *textWhere
        shift: [27, -7]
      params:
        <<: *textParams
        layer: B.SilkS
        justify: left mirror
    safeText:
      <<: *text
      what: keepout
      params:
        points:
          -
            x: -0.5
            y: -2
          -
            x: 15.5
            y: -2
          -
            x: 15.5
            y: 2
          -
            x: -0.5
            y: 2